In [1]:
a = int(input("Enter a number: "))
print(a)

Enter a number: 2
2

In [2]:
b=int(input("enter the number"))
print(b)

enter the number1
1

In [4]:
def add():
    print("this is add function")
    a = int(input("enter the number a: "))
    b = int(input("enter the number b: "))
    c = a + b
    print(c)

# Call the function to test it
add()

this is add function
enter the number a: 2
enter the number b: 3
5

In [5]:
add()

this is add function
enter the number a: 1
enter the number b: 2
3

In [8]:

# Q1. Function to return a list of odd numbers in the range of 1 to 25
def get_odd_numbers():
    return [x for x in range(1, 26) if x % 2 != 0]

print(get_odd_numbers())


# Q2. Functions to demonstrate the use of *args and **kwargs
def example_args(*args):
    for arg in args:
        print(arg)

example_args(1, 2, 3, 4)

def example_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

example_kwargs(name="John", age=30, city="New York")  # Output: name: John age: 30 city: New York


# Q3. Using iter() and next() to print the first five elements of a list
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
iterator = iter(my_list)
for _ in range(5):



 def simple_generator():
    yield 1
    yield 2
    yield 3

gen = simple_generator()
for value in gen:
    print(value)


# Q5. Generator function for prime numbers less than 1000
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def prime_generator():
    num = 2
    while num < 1000:
        if is_prime(num):
            yield num
        num += 1

gen = prime_generator()
for _ in range(20):
    print(next(gen))


# Q6. Program to print the first 10 Fibonacci numbers using a while loop
def fibonacci():
    a, b = 0, 1
    count = 0
    while count < 10:
        print(a)
        a, b = b, a + b
        count += 1

fibonacci()


# Q7. List comprehension to iterate through the string 'pwskills'
string = 'pwskills'
output = [char for char in string]
print(output)


# Q8. Program to check whether a given number is Palindrome or not using a while loop
def is_palindrome(num):
    original_num = num
    reversed_num = 0
    while num > 0:
        digit = num % 10
        reversed_num = reversed_num * 10 + digit
        num = num // 10
    return original_num == reversed_num

# Test the function
num = 121
print(is_palindrome(num))


# Q9. Code to print odd numbers from 1 to 100 using list comprehension
numbers = [x for x in range(1, 101)]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
1
2
3
4
name: John
age: 30
city: New York
1
2
3
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
0
1
1
2
3
5
8
13
21
34
['p', 'w', 's', 'k', 'i', 'l', 'l', 's']
True
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [9]:

# Q1. Sort the given list of tuples based on integer value using a lambda function.
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players = sorted(players, key=lambda x: x[1])
print(sorted_players)


# Q2. Find the squares of all the numbers in the given list of integers using lambda and map functions.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = list(map(lambda x: x**2, numbers))
print(squares)


# Q3. Convert the given list of integers into a tuple of strings using map and lambda functions.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string_tuple = tuple(map(lambda x: str(x), numbers))
print(string_tuple)


# Q4. Compute the product of a list containing numbers from 1 to 25 using reduce function.
from functools import reduce
numbers = list(range(1, 26))
product = reduce(lambda x, y: x * y, numbers)
print(product)


# Q5. Filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
divisible_by_2_and_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print(divisible_by_2_and_3)


# Q6. Find palindromes in the given list of strings using lambda and filter function.
strings = ['python', 'php', 'aba', 'radar', 'level']
palindromes = list(filter(lambda x: x == x[::-1], strings))
print(palindromes)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
15511210043330985984000000
[6, 60, 90, 120]
['php', 'aba', 'radar', 'level']